@using EnglishChallengesWebApp.Resources.Model

@inherits LevelDisplay

<div>
    <label style="font-size:16px; text-align:center;">@LevelTitle</label>
</div>
<div style="display:flex; justify-content:center; padding:25px;">
    <div id="QuestionImageLayout" style="display:flex; flex-wrap:wrap; justify-content:center; align-items:center;">
        <img src=@CurrentQuestion.ImageSource style="width:40%; height:auto;" />
    </div>
</div>
<div style="display:flex; justify-content:center; padding:10px;">
<label style="font-size:16px; text-align:center;">@Prompt</label>
</div>
<div style="display:flex; justify-content:center;">
    <button disabled=@IsAnsweringDisabled @onclick="() => ChooseAnswer(0)" style="margin:10px;">@AnswerTexts[0]</button>
    <button disabled=@IsAnsweringDisabled @onclick="() => ChooseAnswer(1)" style="margin:10px;">@AnswerTexts[1]</button>
    <button disabled=@IsAnsweringDisabled @onclick="() => ChooseAnswer(2)" style="margin:10px;">@AnswerTexts[2]</button>
</div>
<div style="display:flex; justify-content:center;">
    <button class="btn btn-primary" id="HintBtn" @onclick="GiveHint" style="margin:10px;">HINT</button>
</div>
<div style="display:flex; justify-content:center;">
    <button class="btn btn-primary" id="ResetBtn" @onclick="ResetLevel" style="margin:10px;">Reset Level</button>
</div>



@code {
}