@using EnglishChallengesWebApp.Resources.Model

@inherits LevelDisplay

<div>
    <label style="font-size:16px; text-align:center;">@LevelTitle</label>
</div>
<div id="QuestionImageLayout"
    style="display:flex; flex-wrap:wrap; justify-content:center; align-items:center; padding:25px; width:auto; height:50vh;">
    <img src=@CurrentQuestion.ImageSource style="max-width:100%; max-height:100%;" />
</div>
<div style="display:flex; justify-content:center; padding:10px;">
    <label style="font-size:16px; text-align:center;">@Prompt</label>
</div>
<div style="display:flex; justify-content:center;">
    <button disabled=@IsAnsweringDisabled @onclick='@(e => ChooseAnswer("True"))' style="margin:10px;">Yes</button>
    <button disabled=@IsAnsweringDisabled @onclick='@(e => ChooseAnswer("False"))' style="margin:10px;">No</button>
</div>
<div style="display:flex; justify-content:center;">
    <button class="btn btn-primary" id="NextBtn" disabled="@(!IsAnsweringDisabled)" @onclick="LoadNextQuestion" style="margin:10px;">NEXT</button>
</div>
<div style="display:flex; justify-content:center;">
    <button class="btn btn-primary" id="ResetBtn" @onclick="PromptReplay" style="margin:10px;">Reset Level</button>
</div>



@code {
}